<div>
    <h1>
        <%= title %>
    </h1>
    <b>
        <%= locals.loggedIn && "Welcome " + locals.accountData.account_firstname %>
    </b>
    <%- messages() %>

        <a href="#" class="redirect-link">Edit Account Information</a>
</div>