<div>
    <h1>
        <%= title %>
    </h1>
    <div class="form-container">
        <form class="login-form">
            <div>
                <label for="firstname">First name:</label>
                <input type="name" name="account_firstname" id="firstname">
            </div>
            <div>
                <label for="lastname">last name:</label>
                <input type="lastname" name="account_lastname" id="lastname">
            </div>
            <div>
                <label for="email">Email address:</label>
                <input type="email" name="account_email" id="email">
            </div>
            <div>
                <span>Password:</span>
                <label for="password" class="password">
                    <input type="password" name="account_password" id="password">

                    <span class="eye-container">
                        <img src="/images/icons/eye-close.svg" alt="hide password" class="hide" width="24" height="24"
                            id="hide-password" title="Hide password">
                        <img src="/images/icons/eye-open.svg" alt="show password" class="" width="24" height="24"
                            id="show-password" title="Show password">
                    </span>
                </label>
            </div>

            <button type="submit">Register</button>
        </form>

        <%# messages() %>

            <span class="signup-link">Already have an account? <a href="/account/login"> Login</a></span>
            </section>
    </div>