<header id="top-header">
    <span class="site-name">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">

        <% if (!locals.loggedIn) { %><a title="Click to log in" href="/account/login">My Account</a>
            <% } %>
                <% if (locals.accountData && locals.loggedIn) { %>
                    <a href="/account/" title="Click to manage account" class="">Welcome <%=
                            accountData.account_firstname %></a>
                    <a href="/account/logout" title="Click to logout" class="logout-link">Logout</a>
                    <% } %>
    </div>


</header>