<nav>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="#" title="Link to Custom vehicles">Custom</a></li>
        <li><a href="#" title="Link to Sedan vehicles">Sedan</a></li>
        <li><a href="#" title="Link to SUV vehicles">SUV</a></li>
        <li><a href="#" title="Link to Truck vehicles">Truck</a></li>
    </ul>
</nav>