<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
    </div>

    <main>
        <%- body %>
    </main>
</body>

</html>